In [1]:
import pandas as pd #数据分析
import numpy as np #科学计算
from pandas import Series,DataFrame

import os
os.chdir('D:/')
data_train = pd.read_csv('train.csv')
print(data_train.columns)

data_train.head()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#特征数据预处理
'''通常遇到缺值的情况，我们会有几种常见的处理方式：

如果缺值的样本占总数比例极高，我们可能就直接舍弃了，作为特征加入的话，可能反倒带入noise，影响最后的结果了
如果缺值的样本适中，而该属性非连续值特征属性(比如说类目属性)，那就把NaN作为一个新类别，加到类别特征中
如果缺值的样本适中，而该属性为连续值特征属性，有时候我们会考虑给定一个step(比如这里的age，我们可以考虑每隔2/3岁为一个步长)，然后把它离散化，之后把NaN作为一个type加到属性类目中。
有些情况下，缺失的值个数并不是特别多，那我们也可以试着根据已有的值，拟合一下数据，补充上。
本例中，后两种处理方式应该都是可行的，我们先试试拟合补全吧(虽然说没有特别多的背景可供我们拟合，这不一定是一个多么好的选择)
我们这里用scikit-learn中的RandomForest来拟合一下缺失的年龄数据'''

'通常遇到缺值的情况，我们会有几种常见的处理方式：\n\n如果缺值的样本占总数比例极高，我们可能就直接舍弃了，作为特征加入的话，可能反倒带入noise，影响最后的结果了\n如果缺值的样本适中，而该属性非连续值特征属性(比如说类目属性)，那就把NaN作为一个新类别，加到类别特征中\n如果缺值的样本适中，而该属性为连续值特征属性，有时候我们会考虑给定一个step(比如这里的age，我们可以考虑每隔2/3岁为一个步长)，然后把它离散化，之后把NaN作为一个type加到属性类目中。\n有些情况下，缺失的值个数并不是特别多，那我们也可以试着根据已有的值，拟合一下数据，补充上。\n本例中，后两种处理方式应该都是可行的，我们先试试拟合补全吧(虽然说没有特别多的背景可供我们拟合，这不一定是一个多么好的选择)\n我们这里用scikit-learn中的RandomForest来拟合一下缺失的年龄数据'

In [3]:
'''from sklearn.ensemble import RandomForestRegressor
 
### 使用 RandomForestClassifier 填补缺失的年龄属性
def set_missing_ages(df):
    
    # 把已有的数值型特征取出来丢进Random Forest Regressor中
    age_df = df[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]

    # 乘客分成已知年龄和未知年龄两部分
    known_age = age_df[age_df.Age.notnull()].as_matrix()
    unknown_age = age_df[age_df.Age.isnull()].as_matrix()

    # y即目标年龄
    y = known_age[:, 0]

    # X即特征属性值
    X = known_age[:, 1:]

    # fit到RandomForestRegressor之中
    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(X, y)
    
    # 用得到的模型进行未知年龄结果预测
    predictedAges = rfr.predict(unknown_age[:, 1::])
    
    # 用得到的预测结果填补原缺失数据
    df.loc[ (df.Age.isnull()), 'Age' ] = predictedAges 
    
    return df, rfr

def set_Cabin_type(df):
    df.loc[ (df.Cabin.notnull()), 'Cabin' ] = "Yes"
    df.loc[ (df.Cabin.isnull()), 'Cabin' ] = "No"
    return df

data_train, rfr = set_missing_ages(data_train)
data_train = set_Cabin_type(data_train)
rfr
data_train'''

'from sklearn.ensemble import RandomForestRegressor\n \n### 使用 RandomForestClassifier 填补缺失的年龄属性\ndef set_missing_ages(df):\n    \n    # 把已有的数值型特征取出来丢进Random Forest Regressor中\n    age_df = df[[\'Age\',\'Fare\', \'Parch\', \'SibSp\', \'Pclass\']]\n\n    # 乘客分成已知年龄和未知年龄两部分\n    known_age = age_df[age_df.Age.notnull()].as_matrix()\n    unknown_age = age_df[age_df.Age.isnull()].as_matrix()\n\n    # y即目标年龄\n    y = known_age[:, 0]\n\n    # X即特征属性值\n    X = known_age[:, 1:]\n\n    # fit到RandomForestRegressor之中\n    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)\n    rfr.fit(X, y)\n    \n    # 用得到的模型进行未知年龄结果预测\n    predictedAges = rfr.predict(unknown_age[:, 1::])\n    \n    # 用得到的预测结果填补原缺失数据\n    df.loc[ (df.Age.isnull()), \'Age\' ] = predictedAges \n    \n    return df, rfr\n\ndef set_Cabin_type(df):\n    df.loc[ (df.Cabin.notnull()), \'Cabin\' ] = "Yes"\n    df.loc[ (df.Cabin.isnull()), \'Cabin\' ] = "No"\n    return df\n\ndata_train, rfr = set_missing_ages(data_train)\ndata_train = set_Cabin_type(data_train)\nrfr\ndata_train'

In [4]:
#Cabin数据根据有无做二值化处理
data_train["Cabin"]=data_train["Cabin"].fillna(0)
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [5]:
#Age数据填充中位值
data_train["Age"] = data_train["Age"].fillna(data_train["Age"].median())
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [6]:
#data_train.isnull().sum().sort_values(ascending=False)#查看缺失数据
#data_train.Embarked.value_counts() #查看Embarke的取值和类别
#Embarked字段填充众数
data_train["Age"] = data_train["Age"].fillna(data_train["Age"].median())
data_train['Embarked']=data_train['Embarked'].fillna('S')
data_train.isnull().sum().sort_values(ascending=False)#查看缺失数据

Embarked       0
Cabin          0
Fare           0
Ticket         0
Parch          0
SibSp          0
Age            0
Sex            0
Name           0
Pclass         0
Survived       0
PassengerId    0
dtype: int64

In [7]:
#数据类型处理
#Sex字段变换数值属性,male:1,female:0
#使用map方法
sex_to_num={'male':1,'female':0}
data_train['Sex']=data_train['Sex'].map(sex_to_num)
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,0,S

In [8]:
# Embarked登船的地点也是字符串，需要变换成数字
#print (data_train["Embarked"].unique())
bark_to_num={'S':1,'C':2,'Q':3}
data_train['Embarked']=data_train['Embarked'].map(bark_to_num)
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,2
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,1
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,0,1

In [9]:
#哑变量矩阵转换，使用pandas的get_dummies函数
#性别数据dumSex
dumSex=pd.get_dummies((data_train['Sex']),prefix='Sex')
#print(dummies)
data_train=pd.concat([data_train,dumSex],axis=1)
data_train.drop('Sex',axis=1,inplace=True) #删除原Sex列
data_train.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_0,Sex_1
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,0,1,0.0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,2,1.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,0,1,1.0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,1,1.0,0.0
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,0,1,0.0,1.0

In [10]:
#客舱等级数据dumPclass
dumPclass=pd.get_dummies((data_train['Pclass']),prefix='Pclass')
data_train=pd.concat([data_train,dumPclass],axis=1)
data_train.drop('Pclass',axis=1,inplace=True) 
data_train.head()

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_0,Sex_1,Pclass_1,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,0,1,0.0,1.0,0.0,0.0,1.0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,2,1.0,0.0,1.0,0.0,0.0
2,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,0,1,1.0,0.0,0.0,0.0,1.0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,1,1.0,0.0,1.0,0.0,0.0
4,5,0,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,0,1,0.0,1.0,0.0,0.0,1.0

In [11]:
#兄弟姐妹&配偶dumSibSp dumParch
#dumSibSp=pd.get_dummies((data_train['SibSp']),prefix='SibSp')
#data_train=pd.concat([data_train,dumSibSp],axis=1)
#data_train.drop('SibSp',axis=1,inplace=True) #删除原SilbSp列

#dumParch=pd.get_dummies((data_train['Parch']),prefix='Parch')
#data_train=pd.concat([data_train,dumParch],axis=1)
#data_train.drop('Parch',axis=1,inplace=True) #删除原Parch列
#data_train.head()

In [12]:
#登船地点数据dumEmbarked
dumEmbarked=pd.get_dummies((data_train['Embarked']),prefix='Embarked')
data_train=pd.concat([data_train,dumEmbarked],axis=1)
data_train.drop('Embarked',axis=1,inplace=True) #删除原Embarked列

In [13]:
# 定义一个函数，从乘客姓名中提取头衔
def getTitle(name):
    str1 = name.split(',')[1]  # Mr. Owen Harris
    str2 = str1.split('.')[0]  # Mr
    return str2.strip() 

# 存放提取后的特征titleDf
titleDf = pd.DataFrame()
titleDf['Title'] = data_train['Name'].map(getTitle)
print('特征表格：',titleDf.shape)
grouped=titleDf.groupby(titleDf['Title'])
grouped.sum()

特征表格： (891, 1)

Empty DataFrame
Columns: []
Index: [Capt, Col, Don, Dr, Jonkheer, Lady, Major, Master, Miss, Mlle, Mme, Mr, Mrs, Ms, Rev, Sir, the Countess]

In [14]:
# 姓名中头衔字符串与定义头衔类别的映射关系
title_mapDict = {
                    "Capt":       "Officer",
                    "Col":        "Officer",
                    "Major":      "Officer",
                    "Jonkheer":   "Royalty",
                    "Don":        "Royalty",
                    "Sir" :       "Royalty",
                    "Dr":         "Officer",
                    "Rev":        "Officer",
                    "the Countess":"Royalty",
                    "Dona":       "Royalty",
                    "Mme":        "Mrs",
                    "Mlle":       "Miss",
                    "Ms":         "Mrs",
                    "Mr" :        "Mr",
                    "Mrs" :       "Mrs",
                    "Miss" :      "Miss",
                    "Master" :    "Master",
                    "Lady" :      "Royalty"
                    }
# map函数：对Series每个数据应用自定义的函数计算
titleDf['Title'] = titleDf['Title'].map(title_mapDict)
titleDf = pd.get_dummies(titleDf['Title'], prefix='Title')
titleDf.head()

   Title_Master  Title_Miss  Title_Mr  Title_Mrs  Title_Officer  Title_Royalty
0           0.0         0.0       1.0        0.0            0.0            0.0
1           0.0         0.0       0.0        1.0            0.0            0.0
2           0.0         1.0       0.0        0.0            0.0            0.0
3           0.0         0.0       0.0        1.0            0.0            0.0
4           0.0         0.0       1.0        0.0            0.0            0.0

In [15]:
# 添加one-hot编码产生的虚拟变量（dummy variables）到泰坦尼克号数据集full
data_train= pd.concat([data_train, titleDf], axis=1)
data_train.drop('Name', axis=1, inplace=True)
data_train.head()

,PassengerId,Survived,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_0,Sex_1,...,Pclass_3,Embarked_1,Embarked_2,Embarked_3,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty
0,1,0,22.0,1,0,A/5 21171,7.2500,0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2,1,38.0,1,0,PC 17599,71.2833,C85,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,1,26.0,0,0,STON/O2. 3101282,7.9250,0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,1,35.0,1,0,113803,53.1000,C123,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,0,35.0,0,0,373450,8.0500,0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [16]:
#后续探索：对年龄、票价进行……0-1处理
'''我们还得做一些处理，仔细看看Age和Fare两个属性，乘客的数值幅度变化，
也忒大了吧！！如果大家了解逻辑回归与梯度下降的话，会知道，
各属性值之间scale差距太大，将对收敛速度造成几万点伤害值！甚至不收敛！
所以我们先用scikit-learn里面的preprocessing模块对这俩货做一个scaling，
所谓scaling，其实就是将一些变化幅度较大的特征化到[-1,1]之内。'''


# 接下来我们要接着做一些数据预处理的工作，比如scaling，将一些变化幅度较大的特征化到[-1,1]之内
# 这样可以加速logistic regression的收敛
import sklearn.preprocessing as preprocessing
scaler = preprocessing.StandardScaler()
age_scale_param = scaler.fit(data_train['Age'])
data_train['Age_scaled'] = scaler.fit_transform(data_train['Age'], age_scale_param)
fare_scale_param = scaler.fit(data_train['Fare'])
data_train['Fare_scaled'] = scaler.fit_transform(data_train['Fare'], fare_scale_param)
data_train

C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

,PassengerId,Survived,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_0,Sex_1,...,Embarked_2,Embarked_3,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty,Age_scaled,Fare_scaled
0,1,0,22.0,1,0,A/5 21171,7.2500,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.565736,-0.502445
1,2,1,38.0,1,0,PC 17599,71.2833,C85,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.663861,0.786845
2,3,1,26.0,0,0,STON/O2. 3101282,7.9250,0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.258337,-0.488854
3,4,1,35.0,1,0,113803,53.1000,C123,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.433312,0.420730
4,5,0,35.0,0,0,373450,8.0500,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.433312,-0.486337
5,6,0,28.0,0,0,330877,8.4583,0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,-0.478116
6,7,0,54.0,0,0,17463,51.8625,E46,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.893459,0.395814
7,8,0,2.0,3,1,349909,21.0750,0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.102733,-0.224083
8,9,1,27.0,0,2,347742,11.1333,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.181487,-0.424256
9,10,1,14.0,1,0,237736,30.0708,0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.180535,-0.042956
10,11,1,4.0,1,1,PP 9549,16.7000,G6,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.949034,-0.312172
11,12,1,58.0,0,0,113783,26.5500,C103,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.200858,-0.113846
12,13,0,20.0,0,0,A/5. 2151,8.0500,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.719436,-0.486337
13,14,0,39.0,1,5,347082,31.2750,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.740711,-0.018709
14,15,0,14.0,0,0,350406,7.8542,0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.180535,-0.490280
15,16,1,55.0,0,0,248706,16.0000,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.970308,-0.326267
16,17,0,2.0,4,1,382652,29.1250,0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.102733,-0.061999
17,18,1,28.0,0,0,244373,13.0000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,-0.386671
18,19,0,31.0,1,0,345763,18.0000,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.125912,-0.285997
19,20,1,28.0,0,0,2649,7.2250,0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.104637,-0.502949
20,21,0,35.0,0,0,239865,26.0000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.433312,-0.124920
21,22,1,34.0,0,0,248698,13.0000,D56,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.356462,-0.386671
22,23,1,15.0,0,0,330923,8.0292,0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.103685,-0.486756
23,24,1,28.0,0,0,113788,35.5000,A6,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,0.066360
24,25,0,8.0,3,1,349909,21.0750,0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.641634,-0.224083
25,26,1,38.0,1,5,347077,31.3875,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.663861,-0.016444
26,27,0,28.0,0,0,2631,7.2250,0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,-0.502949
27,28,0,19.0,3,2,19950,263.0000,C23 C25 C27,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.796286,4.647001
28,29,1,28.0,0,0,330959,7.8792,0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.104637,-0.489776
29,30,0,28.0,0,0,349216,7.8958,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,-0.489442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,21.0,1,0,28134,11.5000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.642586,-0.416873
862,863,1,48.0,0,0,17466,25.9292,D17,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.432359,-0.126345
863,864,0,28.0,8,2,CA. 2343,69.5500,0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.104637,0.751946
864,865,0,24.0,0,0,233866,13.0000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.412037,-0.386671
865,866,1,42.0,0,0,236852,13.0000,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.971260,-0.386671
866,867,1,27.0,1,0,SC/PARIS 2149,13.8583,0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.181487,-0.369389
867,868,0,31.0,0,0,PC 17590,50.4958,A24,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.125912,0.368295
868,869,0,28.0,0,0,345777,9.5000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,-0.457142
869,870,1,4.0,1,1,347742,11.1333,0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.949034,-0.424256
870,871,0,26.0,0,0,349248,7.8958,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.258337,-0.489442
871,872,1,47.0,1,1,11751,52.5542,D35,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.355510,0.409741
872,873,0,33.0,0,0,695,5.0000,B51 B53 B55,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.279612,-0.547748
873,874,0,47.0,0,0,345765,9.0000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.355510,-0.467209
874,875,1,28.0,1,0,P/PP 3381,24.0000,0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.104637,-0.165189
875,876,1,15.0,0,0,2667,7.2250,0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.103685,-0.502949
876,877,0,20.0,0,0,7534,9.8458,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.719436,-0.450180
877,878,0,19.0,0,0,349212,7.8958,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.796286,-0.489442
878,879,0,28.0,0,0,349217,7.8958,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,-0.489442
879,880,1,56.0,0,1,11767,83.1583,C50,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.047158,1.025945
880,881,1,25.0,0,1,230433,26.0000,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.335187,-0.124920
881,882,0,33.0,0,0,349257,7.8958,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.279612,-0.489442
882,883,0,22.0,0,0,7552,10.5167,0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.565736,-0.436671
883,884,0,28.0,0,0,C.A./SOTON 34068,10.5000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.104637,-0.437007
884,885,0,25.0,0,0,SOTON/OQ 392076,7.0500,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.335187,-0.506472
885,886,0,39.0,0,5,382652,29.1250,0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.740711,-0.061999
886,887,0,27.0,0,0,211536,13.0000,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.181487,-0.386671
887,888,1,19.0,0,0,112053,30.0000,B42,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.796286,-0.044381
888,889,0,28.0,1,2,W./C. 6607,23.4500,0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.104637,-0.176263
889,890,1,26.0,0,0,111369,30.0000,C148,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.258337,-0.044381
890,891,0,32.0,0,0,370376,7.7500,0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.202762,-0.492378

In [49]:
#使用相关性矩阵查看各个特征与Survived的相关系数
#data_train.corr()['Survived'].sort_values(ascending=False).head(20)
data_train.corr()['Age'].sort_values()
# 根据各个特征与生存情况（Survived）的相关系数大小，发现下几个特征和生存情况关系最大：
# 性别（Sex）、头衔（前面所在的数据集title）、客舱等级（pclass）、船票价格（Fare）、
#家庭成员（SibSp、Parch）、登船港口（embarked）、年龄(Age)

Title_Master    -0.373960
Pclass_3        -0.291955
Title_Miss      -0.248767
SibSp           -0.233296
Parch           -0.172482
Sex_0           -0.081163
Survived        -0.064910
Embarked_3      -0.031415
Embarked_1      -0.006729
Pclass_2         0.015831
Embarked_2       0.030248
PassengerId      0.034212
Title_Royalty    0.070654
Sex_1            0.081163
Fare_scaled      0.096688
Fare             0.096688
Title_Mrs        0.166798
Title_Officer    0.179927
Title_Mr         0.180808
Pclass_1         0.323896
Age_scaled       1.000000
Age              1.000000
Name: Age, dtype: float64

In [23]:
# 根据各个特征与生存情况（Survived）的相关系数大小，发现下几个特征和生存情况关系最大：
# 性别（Sex）、头衔（前面所在的数据集title）、客舱等级（pclass）、船票价格（Fare）、
#家庭成员（SibSp、Parch）、登船港口（embarked）、年龄(Age)
#特征选取
data_use=pd.concat([dumSex,#性别
                    titleDf,
                    dumPclass,
                    data_train['Fare_scaled'],
                    data_train['SibSp'],
                    data_train['Parch'],
                    dumEmbarked,
                    data_train['Age_scaled']#注意年龄
                   ],axis=1)
data_use.head()

,Sex_0,Sex_1,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty,Pclass_1,Pclass_2,Pclass_3,Fare_scaled,SibSp,Parch,Embarked_1,Embarked_2,Embarked_3,Age_scaled
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.502445,1,0,1.0,0.0,0.0,-0.565736
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.786845,1,0,0.0,1.0,0.0,0.663861
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.488854,0,0,1.0,0.0,0.0,-0.258337
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.420730,1,0,1.0,0.0,0.0,0.433312
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.486337,0,0,1.0,0.0,0.0,0.433312

In [24]:
# 拆分数据集
# 训练数据集（记为source）将拆分为两部分：训练数据集（记为train：用于模型训练）和测试数据集（记为test：用于模型评估）
#拆分出来的验证数据集占20%
X = data_use[:] # 转换成矩阵形式？
Y = data_train.loc[:,'Survived']

from sklearn.cross_validation import train_test_split
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=.2)
# 输出数据集大小
print ('原始数据集特征：',X.shape, 
       '训练数据集特征：',train_X.shape ,
       '验证数据集特征：',test_X.shape)

print ('原始数据集标签：',Y.shape, 
       '训练数据集标签：',train_Y.shape ,
       '验证数据集标签：',test_Y.shape)

原始数据集特征： (891, 18) 训练数据集特征： (712, 18) 验证数据集特征： (179, 18)
原始数据集标签： (891,) 训练数据集标签： (712,) 验证数据集标签： (179,)

In [25]:
#开始构建模型，使用的是sklearn中的logistic回归分析模型
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [26]:
model.fit(train_X,train_Y) #训练模型
print('模型的检验准确率为：%g' %model.score(test_X,test_Y)) #通过test_数据集检验模型的正确率

模型的检验准确率为：0.832402

In [27]:
#接下来对测试集做一样的操作
# 导入数据文件
os.chdir('D:/')
data_test = pd.read_csv("test.csv")
# 空值填充
# data_test["Cabin"]=data_test["Cabin"].fillna(0) #客舱空值填充0 #不采用的特征
data_test["Age"] = data_test["Age"].fillna(data_test["Age"].median())
data_test['Embarked']=data_test['Embarked'].fillna('S')
data_test["Fare"] = data_test["Fare"].fillna(data_test["Fare"].mean())
data_test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   29.599282    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.703770    0.896760    0.981429   55.840500
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [28]:
# 数据类型变换
data_test['Sex']=data_test['Sex'].map(sex_to_num)
data_test['Embarked']=data_test['Embarked'].map(bark_to_num)
# one-hote
dumSex=pd.get_dummies((data_test['Sex']),prefix='Sex')#性别dumSex
data_test=pd.concat([data_test,dumSex],axis=1)

dumPclass=pd.get_dummies((data_test['Pclass']),prefix='Pclass')#客舱等级
data_test=pd.concat([data_test,dumPclass],axis=1)

#dumSibSp=pd.get_dummies((data_test['SibSp']),prefix='SibSp')#兄弟姐妹
#data_test=pd.concat([data_test,dumSibSp],axis=1)

#dumParch=pd.get_dummies((data_test['Parch']),prefix='Parch')#父母
#data_test=pd.concat([data_test,dumParch],axis=1)

dumEmbarked=pd.get_dummies((data_test['Embarked']),prefix='Embarked')#登船地点
data_test=pd.concat([data_test,dumEmbarked],axis=1)
#删除原数据列
data_test.drop(['Sex','Pclass','Embarked'],axis=1,inplace=True) 

data_test

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_0,Sex_1,Pclass_1,Pclass_2,Pclass_3,Embarked_1,Embarked_2,Embarked_3
0,892,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,893,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,894,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,895,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
5,897,"Svensson, Mr. Johan Cervin",14.0,0,0,7538,9.2250,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6,898,"Connolly, Miss. Kate",30.0,0,0,330972,7.6292,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7,899,"Caldwell, Mr. Albert Francis",26.0,1,1,248738,29.0000,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
8,900,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18.0,0,0,2657,7.2292,NaN,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
9,901,"Davies, Mr. John Samuel",21.0,2,0,A/4 48871,24.1500,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
10,902,"Ilieff, Mr. Ylio",27.0,0,0,349220,7.8958,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
11,903,"Jones, Mr. Charles Cresson",46.0,0,0,694,26.0000,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
12,904,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",23.0,1,0,21228,82.2667,B45,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
13,905,"Howard, Mr. Benjamin",63.0,1,0,24065,26.0000,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
14,906,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",47.0,1,0,W.E.P. 5734,61.1750,E31,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
15,907,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",24.0,1,0,SC/PARIS 2167,27.7208,NaN,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
16,908,"Keane, Mr. Daniel",35.0,0,0,233734,12.3500,NaN,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
17,909,"Assaf, Mr. Gerios",21.0,0,0,2692,7.2250,NaN,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
18,910,"Ilmakangas, Miss. Ida Livija",27.0,1,0,STON/O2. 3101270,7.9250,NaN,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
19,911,"Assaf Khalil, Mrs. Mariana (Miriam"")""",45.0,0,0,2696,7.2250,NaN,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
20,912,"Rothschild, Mr. Martin",55.0,1,0,PC 17603,59.4000,NaN,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
21,913,"Olsen, Master. Artur Karl",9.0,0,1,C 17368,3.1708,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
22,914,"Flegenheim, Mrs. Alfred (Antoinette)",27.0,0,0,PC 17598,31.6833,NaN,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
23,915,"Williams, Mr. Richard Norris II",21.0,0,1,PC 17597,61.3792,NaN,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
24,916,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
25,917,"Robins, Mr. Alexander A",50.0,1,0,A/5. 3337,14.5000,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
26,918,"Ostby, Miss. Helene Ragnhild",22.0,0,1,113509,61.9792,B36,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
27,919,"Daher, Mr. Shedid",22.5,0,0,2698,7.2250,NaN,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
28,920,"Brady, Mr. John Bertram",41.0,0,0,113054,30.5000,A21,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
29,921,"Samaan, Mr. Elias",27.0,2,0,2662,21.6792,NaN,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,"Canavan, Mr. Patrick",21.0,0,0,364858,7.7500,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
389,1281,"Palsson, Master. Paul Folke",6.0,3,1,349909,21.0750,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
390,1282,"Payne, Mr. Vivian Ponsonby",23.0,0,0,12749,93.5000,B24,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
391,1283,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",51.0,0,1,PC 17592,39.4000,D28,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
392,1284,"Abbott, Master. Eugene Joseph",13.0,0,2,C.A. 2673,20.2500,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
393,1285,"Gilbert, Mr. William",47.0,0,0,C.A. 30769,10.5000,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
394,1286,"Kink-Heilmann, Mr. Anton",29.0,3,1,315153,22.0250,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
395,1287,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",18.0,1,0,13695,60.0000,C31,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
396,1288,"Colbert, Mr. Patrick",24.0,0,0,371109,7.2500,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
397,1289,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",48.0,1,1,13567,79.2000,B41,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
398,1290,"Larsson-Rondberg, Mr. Edvard A",22.0,0,0,347065,7.7750,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
399,1291,"Conlon, Mr. Thomas Henry",31.0,0,0,21332,7.7333,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
400,1292,"Bonnell, Miss. Caroline",30.0,0,0,36928,164.8667,C7,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
401,1293,"Gale, Mr. Harry",38.0,1,0,28664,21.0000,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
402,1294,"Gibson, Miss. Dorothy Winifred",22.0,0,1,112378,59.4000,NaN,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
403,1295,"Carrau, Mr. Jose Pedro",17.0,0,0,113059,47.1000,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
404,1296,"Frauenthal, Mr. Isaac Gerald",43.0,1,0,17765,27.7208,D40,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
405,1297,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",20.0,0,0,SC/PARIS 2166,13.8625,D38,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
406,1298,"Ware, Mr. William Jeffery",23.0,1,0,28666,10.5000,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
407,1299,"Widener, Mr. George Dunton",50.0,1,1,113503,211.5000,C80,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
408,1300,"Riordan, Miss. Johanna Hannah""""",27.0,0,0,334915,7.7208,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
409,1301,"Peacock, Miss. Treasteall",3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
410,1302,"Naughton, Miss. Hannah",27.0,0,0,365237,7.7500,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
411,1303,"Minahan, Mrs. William Edward (Lillian E Thorpe)",37.0,1,0,19928,90.0000,C78,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
412,1304,"Henriksson, Miss. Jenny Lovisa",28.0,0,0,347086,7.7750,NaN,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
413,1305,"Spector, Mr. Woolf",27.0,0,0,A.5. 3236,8.0500,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
414,1306,"Oliva y Ocana, Dona. Fermina",39.0,0,0,PC 17758,108.9000,C105,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
415,1307,"Saether, Mr. Simon Sivertsen",38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
416,1308,"Ware, Mr. Frederick",27.0,0,0,359309,8.0500,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
417,1309,"Peter, Master. Michael J",27.0,1,1,2668,22.3583,NaN,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [29]:
#名字列文本处理
titleDf = pd.DataFrame() #一定要重新定义一下，否则会继承train中的DF格式
titleDf['Title'] = data_test['Name'].map(getTitle)
titleDf['Title'] = titleDf['Title'].map(title_mapDict)
titleDf = pd.get_dummies(titleDf['Title'], prefix='Title')

In [30]:
data_test= pd.concat([data_test, titleDf], axis=1)
data_test.drop('Name', axis=1, inplace=True)
data_test.head()

,PassengerId,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_0,Sex_1,Pclass_1,...,Pclass_3,Embarked_1,Embarked_2,Embarked_3,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty
0,892,34.5,0,0,330911,7.8292,NaN,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,893,47.0,1,0,363272,7.0000,NaN,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,894,62.0,0,0,240276,9.6875,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,895,27.0,0,0,315154,8.6625,NaN,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,896,22.0,1,1,3101298,12.2875,NaN,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [31]:
import sklearn.preprocessing as preprocessing
scaler = preprocessing.StandardScaler()
age_scale_param = scaler.fit(data_test['Age'])
data_test['Age_scaled'] = scaler.fit_transform(data_test['Age'], age_scale_param)
fare_scale_param = scaler.fit(data_test['Fare'])
data_test['Fare_scaled'] = scaler.fit_transform(data_test['Fare'], fare_scale_param)
data_test

C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\liu\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

,PassengerId,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_0,Sex_1,Pclass_1,...,Embarked_2,Embarked_3,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty,Age_scaled,Fare_scaled
0,892,34.5,0,0,330911,7.8292,NaN,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.386231,-0.498407
1,893,47.0,1,0,363272,7.0000,NaN,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.371370,-0.513274
2,894,62.0,0,0,240276,9.6875,NaN,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.553537,-0.465088
3,895,27.0,0,0,315154,8.6625,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.204852,-0.483466
4,896,22.0,1,1,3101298,12.2875,NaN,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.598908,-0.418471
5,897,14.0,0,0,7538,9.2250,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.229397,-0.473381
6,898,30.0,0,0,330972,7.6292,NaN,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.031581,-0.501993
7,899,26.0,1,1,248738,29.0000,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.283663,-0.118823
8,900,18.0,0,0,2657,7.2292,NaN,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.914152,-0.509165
9,901,21.0,2,0,A/4 48871,24.1500,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.677719,-0.205781
10,902,27.0,0,0,349220,7.8958,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.204852,-0.497213
11,903,46.0,0,0,694,26.0000,NaN,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.292559,-0.172612
12,904,23.0,1,0,21228,82.2667,B45,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.520097,0.836228
13,905,63.0,1,0,24065,26.0000,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.632348,-0.172612
14,906,47.0,1,0,W.E.P. 5734,61.1750,E31,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.371370,0.458062
15,907,24.0,1,0,SC/PARIS 2167,27.7208,NaN,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.441286,-0.141758
16,908,35.0,0,0,233734,12.3500,NaN,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.425637,-0.417351
17,909,21.0,0,0,2692,7.2250,NaN,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.677719,-0.509240
18,910,27.0,1,0,STON/O2. 3101270,7.9250,NaN,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.204852,-0.496689
19,911,45.0,0,0,2696,7.2250,NaN,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.213748,-0.509240
20,912,55.0,1,0,PC 17603,59.4000,NaN,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.001859,0.426237
21,913,9.0,0,1,C 17368,3.1708,NaN,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.623452,-0.581930
22,914,27.0,0,0,PC 17598,31.6833,NaN,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.204852,-0.070712
23,915,21.0,0,1,PC 17597,61.3792,NaN,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.677719,0.461723
24,916,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.450181,4.065500
25,917,50.0,1,0,A/5. 3337,14.5000,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.607803,-0.378802
26,918,22.0,0,1,113509,61.9792,B36,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.598908,0.472481
27,919,22.5,0,0,2698,7.2250,NaN,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.559502,-0.509240
28,920,41.0,0,0,113054,30.5000,A21,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.898503,-0.091928
29,921,27.0,2,0,2662,21.6792,NaN,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.204852,-0.250082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,21.0,0,0,364858,7.7500,NaN,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.677719,-0.499827
389,1281,6.0,3,1,349909,21.0750,NaN,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.859886,-0.260915
390,1282,23.0,0,0,12749,93.5000,B24,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.520097,1.037637
391,1283,51.0,0,1,PC 17592,39.4000,D28,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.686615,0.067645
392,1284,13.0,0,2,C.A. 2673,20.2500,NaN,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.308208,-0.275707
393,1285,47.0,0,0,C.A. 30769,10.5000,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.371370,-0.450521
394,1286,29.0,3,1,315153,22.0250,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.047230,-0.243882
395,1287,18.0,1,0,13695,60.0000,C31,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.914152,0.436995
396,1288,24.0,0,0,371109,7.2500,NaN,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.441286,-0.508792
397,1289,48.0,1,1,13567,79.2000,B41,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.450181,0.781243
398,1290,22.0,0,0,347065,7.7750,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.598908,-0.499379
399,1291,31.0,0,0,21332,7.7333,NaN,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.110392,-0.500127
400,1292,30.0,0,0,36928,164.8667,C7,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.031581,2.317214
401,1293,38.0,1,0,28664,21.0000,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.662070,-0.262260
402,1294,22.0,0,1,112378,59.4000,NaN,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.598908,0.426237
403,1295,17.0,0,0,113059,47.1000,NaN,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.992964,0.205703
404,1296,43.0,1,0,17765,27.7208,D40,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.056126,-0.141758
405,1297,20.0,0,0,SC/PARIS 2166,13.8625,D38,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.756530,-0.390232
406,1298,23.0,1,0,28666,10.5000,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.520097,-0.450521
407,1299,50.0,1,1,113503,211.5000,C80,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.607803,3.153331
408,1300,27.0,0,0,334915,7.7208,NaN,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.204852,-0.500351
409,1301,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-2.096319,-0.391801
410,1302,27.0,0,0,365237,7.7500,NaN,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.204852,-0.499827
411,1303,37.0,1,0,19928,90.0000,C78,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.583259,0.974883
412,1304,28.0,0,0,347086,7.7750,NaN,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.126041,-0.499379
413,1305,27.0,0,0,A.5. 3236,8.0500,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.204852,-0.494448
414,1306,39.0,0,0,PC 17758,108.9000,C105,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.740881,1.313753
415,1307,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.701476,-0.508792
416,1308,27.0,0,0,359309,8.0500,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.204852,-0.494448
417,1309,27.0,1,1,2668,22.3583,NaN,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-0.204852,-0.237906

In [32]:
data_pre=pd.concat([dumSex,#性别
                    titleDf,
                    dumPclass,
                    data_test['Fare_scaled'],
                    data_test['SibSp'],
                    data_test['Parch'],
                    dumEmbarked,
                    data_test['Age_scaled']#注意年龄
                   ],axis=1)
data_pre.columns

Index(['Sex_0', 'Sex_1', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs',
       'Title_Officer', 'Title_Royalty', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Fare_scaled', 'SibSp', 'Parch', 'Embarked_1', 'Embarked_2',
       'Embarked_3', 'Age_scaled'],
      dtype='object')

In [33]:
pred_result=model.predict(data_pre)
pred_result=pred_result.astype(int)
data_pred=pd.DataFrame(
    {'PassengerId':data_test['PassengerId'].as_matrix(),
     'Survived':pred_result})
data_pred.to_csv("data_pred.csv", index=False)